<div class="container-fluid">
    <div class="col-md-10 col-md-offset-1">
        <div class="jumbotron">
            <h1>States</h1>
        </div>

        <div class="list-group">
            <a ng-repeat="state in ctrl.states"
                ng-href="#states/{{state.id}}" class="list-group-item"> <span
                class="glyphicon glyphicon-location" aria-hidden="true"></span>
                {{state.name}}
            </a>
        </div>
        
        <hr>
					<div class="form-group">
						<div class="buttons" >
							<button type="submit" class="btn btn-success" ng-click=ctrl.backButton()>Back</button>
							<button type="submit" class="btn btn-success" ng-click=ctrl.new()>New</button>
						</div>
					</div>
        
    </div>
</div>